---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en-RW">
	<head>
		<MainHead title="RedJanvier can't find this!" />
	</head>
	<body>
		<main class="container section mt4 mb4">
			<Nav notLanding />
			<h1 class="section__heading">Page Not Found</h1>
			<p class="section__subheading">RedJanvier can't find this!</p>
			<Footer />
		</main>
	</body>
</html>
